<!DOCTYPE html>
<html>
{% include head.html %}
<body>

    <header class="site-header">
        <nav>
            <a class="brand" href="/">
                <img src="/images/{{ site.info.logo }}" alt="Inc">
            </a>
            <a href="/about.html">About</a>
        </nav>
    </header>

    {{ content }}

    <footer class="site-footer">
        <div class="container">
            &copy; {{ site.time | date: "%Y" }} {{ site.info.title }}

            <nav>
                <a href="/">Blog</a> &middot;
                <a href="/about.html">About</a>
            </nav>

            <nav class="social">
                {% include social_links.html %}
            </nav>
            <div>Based on Incorporated theme by <a href="https://sendtoinc.com">Inc</a></div>
        </div>
    </footer>

</body>
</html>
